<% if session[:guesses_left] < 1 %>
  <h4>
    Sorry you lose! The Answer Was:
    <% session[:answer_array].each do |space| %>
      <% if space == " " %>
        <span class="space"> - </span>
      <% else %>
        <%= space %>
      <% end %>
    <% end %>
  </h4>
<% else %>
  <h4>
    Contgratulations you won! The Answer Was:
    <% session[:answer_array].each do |space| %>
      <% if space == " " %>
        <span class="space"> - </span>
      <% else %>
        <%= space %>
      <% end %>
    <% end %>
  </h4>
<% end %>